.admin_container .avatar {
    text-align: center;
    margin-top: 30px;
}

.admin_container .avatar img {
    width: 200px;
}

.admin_container .nfo {
    box-sizing: border-box;
    padding: 20px;
}

.admin_container .nfo div {
    font-size: 23px;
    font-weight: 300;
    margin-bottom: 10px;
    color: #a4a4a4;
}

.admin_container .nfo div span {
    font-weight: 500;
    color: #072255;
}