header .navItem {
    
    font-weight: 300;
    font-size: 16px;
    color: white;
    padding: 20px;
    border-top: 1px solid #404040;
}

header .navItem a {
    color: inherit;
    text-decoration: none;
}

header .navItem svg {
    color: white;
    margin-right: 10px;
}

.sidebar_button-close {
    padding-top: 10px;
    text-align: center;
}


.button-close {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 0.5rem;
}

.button-close:hover {
    color: green;
}
